In [2]:
ALTER DATABASE pokemon RENAME TO pokedex

: database "pokemon" does not exist

In [16]:
DROP table pokemons

: table "pokemons" does not exist

In [17]:
CREATE TABLE pokemons(
    kdex_id SERIAL PRIMARY KEY,
    pokemon VARCHAR(50) NOT NULL,
    altura VARCHAR(50)NOT NULL,
    peso VARCHAR(50) NOT NULL,
    categoria VARCHAR(50) NOT NULL
)

In [2]:
INSERT INTO pokemons(
    kdex_id, pokemon, altura, peso, categoria
)
 VALUES
  (001, 'Bulbasaur', '0,7m', '6,9kg', 'Semilla'),
  (002, 'Ivysaur', '1,0m', '13,0kg', 'Semilla')

: duplicate key value violates unique constraint "pokemons_pkey"

In [1]:
SELECT * FROM pokemons

kdex_id,pokemon,altura,peso,categoria
1,Bulbasaur,"0,7m","6,9kg",Semilla
2,Ivysaur,"1,0m","13,0kg",Semilla